.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    height: 36px;
    width: 80%;
    margin-left: 10%;
    background-image: none;
    background-color: transparent;
    background-image: url(/assets/header-img.png);
    border-radius: 4px;
}
.navbar-items a {
    color: rgb(218, 218, 218);
    font-style: 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-image:url(/assets/main-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-img {
    height: 25px;
    width: 25px;
}
.search-bar {
    display: flex;
    justify-content: flex-start;
}
.search-box {
    background: transparent;
}
/*Bottom grid*/

.bottom-grid {
    display: flex;
    flex-direction: row;
}